* {
  box-sizing: border-box;
}

.shows-hero {
  width: 100vw;
  height: 147.5vw; //472px/320px
  background-image: url(../assets/images/shows-hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 0;
  position: relative;

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    z-index: 1;
  }

  &__container {
    z-index: 2;
  }

  &__text {
    color: $white;
    font-family: "AvenirBold";
    font-size: 32px;
    line-height: 36px;
    padding-left: 5vw; //16px/320px
    z-index: 2;
    margin: 0;
  }

  &__subtitle {
    font-size: 14px;
    padding-top: 20vw; //64px/320px
    padding-bottom: 10vw;
  }

  &__song {
    width: 90vw; //320-2*16px
    height: 120px;
    margin: 20vw 5vw 0 5vw;
    border: none;
  }
}

@include medium {
  .shows-hero {
    height: 87.24vw; //670px/768px

    &__text {
      padding-left: 3.12vw; //24px/768px
      font-size: 60px;
      line-height: 68px;
    }

    &__subtitle {
      padding-top: 12.5vw; //96px/768px
      padding-bottom: 6vw;
      font-size: 24px;
      line-height: 32px;
    }

    &__song {
      width: 55vw;
      margin: 8vw 3.12vw 3.12vw 3.12vw;
    }
  }
}

@include huge {
  .shows-hero {
    height: 46.53vw; //670px/1440px

    &__container {
      display: flex;
    }

    &__text {
      width: 40.28vw;
      margin-left: 12.5vw;
      padding: 0;
    }

    &__subtitle {
      padding-top: 11.11vw; //160px/1440px
      padding-bottom: 3.33vw; //48/1440
    }

    &__song {
      width: 30.29vw; //436/1440
      height: 10.14vw; //146/1440
      margin: 4vw 12.5vw 0 4.44vw;
    }
  }
}
