* {
  box-sizing: border-box;
}
.shows-tours {
  width: 100vw;
  padding: 0 5vw;

  * {
    margin: 0;
    padding: 0;
  }

  &__title {
    margin-top: 32px;
    font-family: "AvenirBold";
  }

  &__table {
    position: relative;
    height: 1500px;

    &-section {
      &--label {
        position: absolute;
        top: 11px; //(required distance)-(cell margin)=40-29
        font-size: 12px;
        line-height: 20px;
        font-family: "AvenirBold";
        color: $silver;

        & > div {
          //selecs all rows of the first table

          > div {
            //selecs all cells of the first table
            margin: 29px 0; //(two required distances+content line-height)/2=(16+24+18)/2
          }
          button {
            visibility: hidden;
            width: 90vw; //288/320
            height: 48px;
            margin: 2px 0 16px 0;
          }
        }
      }

      &--content {
        position: absolute;
        top: 35px; //(labels cell margin)+(labels line-height)+(required distance)-(contents cell margin)=29+20+16-30
        font-size: 13px;
        line-height: 18px;

        & > div {
          //selecs all rows of the second table
          width: 90vw;
          border-bottom: 1px solid $mercury;

          > div {
            //selects all cells of the second table
            margin: 30px 0; //(two required distances+content line-height)/2=(16+24+20)/2
          }
          div:first-child {
            //selects the first cell of contents
            font-family: "AvenirDemiBold";
          }
          button {
            width: 90vw; //288/320
            height: 48px;
            margin: 2px 0 16px 0;
          }
        }
      }
    }
  }
}
@include medium {
  .shows-tours {
    padding: 0 3.12vw;

    &__table {
      height: 550px;

      &-section {
        &--label {
          top: 0; //(required distance)-(cell margin)=40-29

          & > div {
            //selecs all rows of the first table (labels)
            width: 93.75vw;
            display: flex;
            justify-content: space-between;
            margin: 0;

            visibility: hidden;

            > div {
              flex: 25%;
            }

            button {
              width: 160px;
              margin: 0;
              flex: 25%;
            }
          }
        }
        &--content {
          top: 36px; //(required distance)-(cell margin)=40-29

          & > div {
            //selecs all rows of the second table (contents)
            width: 93.75vw;
            display: flex;
            justify-content: space-between;

            > div {
              //selecs all cells of the second table (contents)
              flex: 25%;
              margin: 16px 0;
              display: flex;
              align-items: center;
            }
            button {
              width: 160px;
              margin: 16px 0;
              flex: 25%;
            }
          }
        }
      }
    }
  }
  #label-row--0 {
    visibility: visible;
  }
}

@include huge {
  .shows-tours {
    display: flex;
    padding: 0;

    &__title {
      padding-left: 12.5vw;
      margin-top: 48px;
      flex: 31.67%;
    }

    &__table {
      padding-right: 12.5vw;
      flex: 68.33%;
      height: 600px;

      &-section {
        width: 55.83vw;
        &--label {
          top: 40px;

          & > div {
            //selecs all rows of the first table (labels)
            width: 100%;
            display: flex;
            justify-content: space-between;

            visibility: hidden;

            > div {
              //selecs all cells of the first table (labels)
              flex: 25%;
              margin: 0;
            }

            button {
              width: 160px;
              margin: 0;
              flex: 25%;
            }
          }
        }
        &--content {
          top: 80px; //(required distance)-(cell margin)=40-29

          & > div {
            //selecs all rows of the second table (contents)
            width: 100%;
            display: flex;
            justify-content: space-between;

            > div {
              //selecs all cells of the second table (contents)
              flex: 25%;
              margin: 16px 0;
              display: flex;
              align-items: center;
              margin: 0;
            }
            button {
              width: 160px;
              margin: 16px 0;
              flex: 25%;
            }
          }
        }
      }
    }
  }
  #label-row--0 {
    visibility: visible;
  }
}
