* {
  box-sizing: border-box;
}
.shows-tours {
  width: 100vw;
  padding: 0 5vw;

  &__title {
    font-family: "AvenirBold";
    margin-top: 32px;
    margin-bottom: 40px;
  }

  &__table {
    width: 90vw;

    &-row {
      border-bottom: 1px solid $mercury;

      &--head {
        display: none;
      }
      *:nth-child(1),
      *:nth-child(2) {
        //Selects the first two cells (removing the id information)
        display: none;
      }
      *:nth-child(4) {
        //Selects the cells that contains date
        font-family: "AvenirDemiBold";
      }
      &-cell {
        &--label {
          font-family: "AvenirDemiBold";
          text-transform: uppercase;
          color: $silver;
          margin-top: 24px;
        }
        &--content {
          margin-top: 16px;
        }
        &--btn {
          width: 90vw;
          margin-top: 32px;
          margin-bottom: 16px;
        }
      }
    }
  }
}

@include medium {
  .shows-tours {
    padding: 0 3.12vw;

    &__table {
      width: 93.75vw;

      * {
        margin: 0;
      }

      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        &--head {
          display: flex;
          width: 72.92vw;
          font-family: "AvenirDemiBold";
          text-transform: uppercase;
          color: $silver;

          *:first-child {
            //Selects the first label (removing "id")
            display: none;
          }
        }

        &-cell {
          &--head {
            width: 16.15vw; //(100+24)/768
            flex: 1;
          }
          &--label {
            display: none;
          }

          &--content {
            width: 16.15vw; //(100+24)/768
          }

          &--btn {
            width: 160px;
          }
        }
      }
    }
  }
}

@include huge {
  .shows-tours {
    padding: 0;
    margin-top: 48px;
    display: flex;

    &__title {
      padding-left: 12.5vw;
      width: 31.67%; //((68+24)*3+180)/1440
    }

    &__table {
      padding-right: 12.5vw;
      width: 68.33%; //(804+180)/1440

      * {
        margin: 0;
      }

      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;

        &--head {
          display: flex;
          width: 72.92vw;
          font-family: "AvenirDemiBold";
          text-transform: uppercase;
          color: $silver;

          *:first-child {
            //Selects the first label (removing "id")
            display: none;
          }
        }

        &-cell {
          &--head {
            width: 16.15vw; //(100+24)/768
            flex: 1;
          }
          &--label {
            display: none;
          }

          &--content {
            width: 16.15vw; //(100+24)/768
          }

          &--btn {
            width: 160px;
          }
        }
      }
    }
  }
}
